@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Frank Ruhl Libre', serif;
font-family: 'Oleo Script', cursive;
font-family: 'Oleo Script Swash Caps', cursive; */
body {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  line-height: 1.5 !important;
}

.logo {
  width: 60px;
  display: inline-block;
}

/* .button {
  align-items: center;
  border-radius: 1000px;
  display: flex;
  height: 93px;
  justify-content: center;
  margin-left: 1px;
  padding: 8px 12px;
  position: relative;
  max-width: 417px;
  font-size: 2.5rem;
} */

h1 {
  font-size: 1.25rem;
}

.site-id,
h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
}

h3,
.hero-text,
nav ul li,
button {
  font-family: 'Oleo Script', cursive;
}

footer h2 {

  font-family: 'Oleo Script', cursive;
}

nav ul li {
  font-size: 1.5rem;
}

.hero-text {
  max-width: 15ch;
}

figure {
  height: 400px !important;
}

.testimonial-img {
  height: 123px;
  width: 123px;
  object-fit: cover;
}